<img src="https://raw.githubusercontent.com/Ironhack-Data-Madrid-Marzo-2021/W7-Kaggle_competition/master/images/PORTADA.jpg">

# Import libraries

In [1]:
import numpy as np
import pandas as pd
import src.limpieza as lm
import pickle

# Import Data

In [2]:
test = pd.read_csv("data/test_limpio.csv")
train = pd.read_csv("data/train_limpio.csv")

# Create target and feature columns

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X = train.drop("price", axis=1)
y = train["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [5]:
y_train.shape

(32364,)

In [6]:
X_train.shape

(32364, 8)

In [7]:
X_test.shape

(8091, 8)

# Best models

In [8]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import metrics

In [9]:
models = {"ridge":Ridge(),
         "lasso":Lasso(),
         "sgd":SGDRegressor(),
         "KNN":KNeighborsRegressor(),
         "gradient":GradientBoostingRegressor()}

In [10]:
for name, model in models.items():
    print(f"Trainning model -----> {name}")
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print("MSE: ", metrics.mean_squared_error(y_test,y_pred))
    
    print("Model finished")

Trainning model -----> ridge
MSE:  0.1256739432942454
Model finished
Trainning model -----> lasso
MSE:  1.039135840408506
Model finished
Trainning model -----> sgd
MSE:  2.551980297776438e+34
Model finished
Trainning model -----> KNN
MSE:  1.2113188596959585
Model finished
Trainning model -----> gradient
MSE:  0.01258175560627737
Model finished

# Test Prices

In [11]:
gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)

GradientBoostingRegressor()

In [12]:
y_pred = gbr.predict(test)

In [13]:
test["price"] = y_pred
test.head()

   Unnamed: 0  id  carat  cut  color  clarity  depth  table     price
0           0   0   2.01    5      3      2.0   61.9   57.0  9.675334
1           1   1   0.49    2      7      3.0   57.5   60.0  7.282843
2           2   2   1.03    4      5      2.0   58.6   62.0  8.504611
3           3   3   0.90    3      6      2.0   63.0   56.0  8.303908
4           4   4   0.59    5      7      2.0   62.5   55.0  7.430480

In [14]:
submit = test[["id","price"]]
submit.set_index("id", inplace=True)

In [15]:
submit.head()

       price
id
0   9.675334
1   7.282843
2   8.504611
3   8.303908
4   7.430480

In [16]:
submit.to_csv("submitions/submit.csv")

In [17]:
#pickle.dump(rfc_params,open("mejor_modelo", "wb"))

In [18]:
#loaded_model = pickle.load(open("mi"))